In [24]:
import os
import pandas as pd
from PIL import Image

#### create path to my data on pc

In [4]:
train_path = r"C:\Users\1\Desktop\University_semeter_3\ZNEUS\archive\ASL_Dataset\Train"

#### create csv file with image pases and labels

In [10]:
data = []

for folder in os.listdir(train_path):
    folder_path = os.path.join(train_path, folder)

    if os.path.isdir(folder_path):
        for image in os.listdir(folder_path):
            if image.endswith(('.jpg', '.jpeg', '.png')):
                image_path = os.path.join(folder_path, image)
                data.append({'path': image_path, 'label': folder})

# –°—Ç–≤–æ—Ä—é—î–º–æ DataFrame
df = pd.DataFrame(data)

# –ó–±–µ—Ä—ñ–≥–∞—î–º–æ –≤ CSV
df.to_csv('dataset.csv', index=False)
print(f" {len(df)} rows")
print(f"Clases: {df['label'].unique()}")

‚úÖ –ì–æ—Ç–æ–≤–æ! –°—Ç–≤–æ—Ä–µ–Ω–æ 165670 —Ä—è–¥–∫—ñ–≤
üìä –ö–ª–∞—Å–∏: ['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'Nothing' 'O' 'P'
 'Q' 'R' 'S' 'Space' 'T' 'U' 'V' 'W' 'X' 'Y' 'Z']

In [11]:
ds = pd.read_csv('dataset.csv')
ds.head()

                                                path label
0  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...     A
1  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...     A
2  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...     A
3  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...     A
4  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...     A

In [12]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165670 entries, 0 to 165669
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   path    165670 non-null  object
 1   label   165670 non-null  object
dtypes: object(2)
memory usage: 2.5+ MB

In [13]:
ds.duplicated().sum()

np.int64(0)

In [21]:
ds = ds.sample(frac=1, random_state=42).reset_index(drop=True)

In [22]:
ds_answer =ds.iloc[:,-1:]
ds_answer.head()

  label
0     M
1     H
2     J
3     C
4     G

In [23]:
ds_train = ds.iloc[:,:-1]
ds_train.head()

                                                path
0  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...
1  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...
2  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...
3  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...
4  C:\Users\1\Desktop\University_semeter_3\ZNEUS\...

In [25]:
for i in range(10):
    img = Image.open(ds_train.iloc[i,0])
    img.show()